<mat-card>
    <mat-card-title>404 - Not Found</mat-card-title>
    <mat-card-content>
      <div class="icon-container">
        <i class="material-icons sad-icon">sentiment_very_dissatisfied</i>
      </div>
      <p>Oops! The page you're looking for could not be found.</p>
      <p>Please check the URL or navigate back to the home page.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/">Go to Home</button>
    </mat-card-actions>
  </mat-card>
  
