<mat-card>
    <mat-card-title>Edit Product</mat-card-title>
    <mat-card-content *ngIf="product">
        <form #editForm="ngForm" (ngSubmit)="editSubmit(editForm)">
            <p>
                <mat-form-field>

                    <input matInput type="text" name="title" ngModel #inputTitle="ngModel" required
                        [(ngModel)]="product.title" />
                    <mat-error *ngIf="inputTitle.touched">
                        <div class="error-container">
                            <p *ngIf="inputTitle.errors?.['required']">
                                Title is required!
                            </p>
                        </div>
                    </mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input type="text" matInput name="price" ngModel #inputPrice="ngModel" required
                        [(ngModel)]="product.price" />
                    <mat-error *ngIf="inputPrice.touched">
                        <div class="error-container">
                            <p *ngIf="inputPrice.errors?.['required']">
                                Price is required!
                            </p>
                        </div>
                    </mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input type="text" matInput name="category" ngModel #inputCategory="ngModel" required
                        [(ngModel)]="product.category" />
                    <mat-error *ngIf="inputCategory.touched">
                        <div class="error-container">
                            <p *ngIf="inputCategory.errors?.['required']">
                                Category is required!
                            </p>
                        </div>
                    </mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input type="text" matInput name="image" ngModel #inputImage="ngModel" required
                        [(ngModel)]="product.image" />
                    <mat-error *ngIf="inputImage.touched">
                        <div class="error-container">
                            <p *ngIf="inputImage.errors?.['required']">
                                ImageURL is required!
                            </p>
                        </div>
                    </mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <textarea matInput type="text" name="description" ngModel #inputDescription="ngModel" required
                        [(ngModel)]="product.description"></textarea>
                    <!-- <input type="text" matInput placeholder="Enter Product Description" name="description" ngModel
                        #inputDescription="ngModel" required /> -->
                    <mat-error *ngIf="inputDescription.touched">
                        <div class="error-container">
                            <p *ngIf="inputDescription.errors?.['required']">
                                Description is required!
                            </p>
                        </div>
                    </mat-error>
                </mat-form-field>
            </p>

            <div class="button">
                <button type="submit" [disabled]="editForm.invalid" mat-button>Edit</button>
            </div>
            <!-- Server error-->
            <div class="text-center text-red-600">
                <p *ngIf="error">{{error}}</p>
            </div>
        </form>
    </mat-card-content>
</mat-card>