<mat-card>
  <mat-card-title>Register</mat-card-title>
  <mat-card-content>
    <form #registerForm="ngForm" (ngSubmit)="registerSubmit(registerForm)">
      <p>
        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input matInput type="email" placeholder="pat@example.com" name="email" ngModel #inputEmail="ngModel" required
            [appEmail]="appEmailDomains" />
          <mat-error *ngIf="inputEmail.touched">
            <div class="error-container">
              <p *ngIf="inputEmail.errors?.['required']">
                Email is required!
              </p>
              <p *ngIf="inputEmail.errors?.['emailValidator']">
                Email is not valid!
              </p>
            </div>
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Enter your number" name="tel" ngModel #inputTel="ngModel"
            required minlength="10" />
          <mat-error *ngIf="inputTel.touched">
            <div class="error-container">
              <p *ngIf="inputTel.errors?.['required']">
                Phone number is required!
              </p>
              <p style="font-size: 11px; line-height: 14px;" *ngIf="inputTel.errors?.['minlength']">
                Phone number must be at least
                {{inputTel.errors?.['minlength']['requiredLength']}} characters!
              </p>
            </div>
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" name="password" ngModel #inputPassword="ngModel"
            required minlength="4" />
          <mat-error *ngIf="inputPassword.touched">
            <div class="error-container">
              <p *ngIf="inputPassword.errors?.['required']">
                Password is required!
              </p>
              <p style="font-size: 11px; line-height: 14px;" *ngIf="inputPassword.errors?.['minlength']">
                Password must be at least
                {{inputPassword.errors?.['minlength']['requiredLength']}} characters!
              </p>
            </div>
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Repeat Password" name="rePassword" ngModel
            #inputRePassword="ngModel" required />
          <mat-error *ngIf="inputRePassword.touched">
            <div class="error-container">
              <p *ngIf="inputRePassword.errors?.['required']">
                Repeat password is required!
              </p>
              <p style="font-size: 12px; line-height: 14px; margin-top: -10px;"
                *ngIf="inputPassword.value != inputRePassword.value">
                Passwords do not match.
              </p>
            </div>
          </mat-error>
        </mat-form-field>
      </p>

      <div *ngIf="inputRePassword.touched">
        <mat-error style="font-size: 12px; line-height: 14px; padding-left: 12px;"
          *ngIf="inputPassword.value != inputRePassword.value && !inputRePassword.errors?.['required']">
          <p style="margin-top: -40px;">
            Passwords do not match.
          </p>
        </mat-error>
      </div>

      <div class="button">
        <button type="submit" [disabled]="registerForm.invalid || inputPassword.value != inputRePassword.value"
          mat-button>Register</button>
      </div>

      <!--Server error-->
      <div class="text-center text-red-600">
        <p *ngIf="error">{{error}}</p>
      </div>

      <div class="text-center">
        <p class="mb-0 mr-2 mt-3">Have an account ?
          <a class="text-cyan-600 " routerLink="/login">Login</a>
        </p>
      </div>
    </form>
  </mat-card-content>
</mat-card>