<mat-card>
  <mat-card-title>Login</mat-card-title>
<mat-card-content>
<form #loginForm="ngForm" (ngSubmit)="LoginSubmit(loginForm)">
<p>
  <mat-form-field>
    <mat-label>Enter your email</mat-label>
    <input type="email" matInput placeholder="pat@example.com" name="email" ngModel 
    #inputEmail="ngModel" 
    required
     [appEmail]="appEmailDomains">
    <mat-error *ngIf="inputEmail.touched">
      <div class="error-container">
        <p *ngIf="inputEmail.errors?.['required']">
          Email is required!
        </p>
        <p *ngIf="inputEmail.errors?.['emailValidator']">
          Email is not valid!
        </p>
      </div>
    </mat-error>
  </mat-form-field>
</p>

<p>
  <mat-form-field>
    <input type="password" matInput placeholder="Password" name="password" 
    #inputPassword="ngModel" ngModel required minlength="4">
    <mat-error *ngIf="inputPassword.touched">
      <div class="error-container">
        <p *ngIf="inputPassword.errors?.['required']">
          Password is required!
        </p>
        <p *ngIf="inputPassword.errors?.['minlength']">
          Password must be at least
          {{inputPassword.errors?.['minlength']['requiredLength']}} characters!
        </p>
      </div>
    </mat-error>
  </mat-form-field>
</p>

<div class="button">
  <button type="submit" [disabled]="loginForm.invalid" mat-button>Login</button> 
</div>

<!--Server error-->
<div class="text-center text-red-600">
  <p *ngIf="error">{{error}}</p>
</div>

<div class="text-center">
  <p class="mb-0 mr-2 mt-3">Don't have an account ?
    <a class="text-cyan-600 " routerLink="/auth/register">Register</a>
  </p>
</div>
</form>
</mat-card-content>
</mat-card>
